<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/css/common.css" rel="stylesheet" type="text/css">
    <link href="/css/board_detail.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/js/common.js"></script>
    <title>POLAROID</title>
</head>
<body>
    <!-- header -->
    <div class="header">
        <div class="max_box_2 vertical_box">
            <div class="header_logo vertical_mid">
                <img class="header_logo_img" src="/image/logo_white.png" onclick="location.href='/main'" />
            </div>
            <div class="header_search_box vertical_mid">
                <input class="header_search_input fs_16" type="text" placeholder="Search" />
                <div class="header_search_btn">
                    <img class="header_search_btn_img" src="/image/search.png" />
                </div>
            </div>
            <div class="header_right vertical_mid">
                <!-- 채팅 -->
                <div class="header_chat">
                    <img class="header_chat_img" src="/image/chat.png" />
                </div>
                <!-- 좋아요 모아보기 -->
                <div class="header_like">
                    <img class="header_like_img" src="/image/like.png" />
                </div>
                <!-- 사용자 정보 -->
                <div class="header_user" id="userToggleButton">
                    <img class="header_user_img" src="image/user_default.png" />
                </div>
                <div class="header_user_toggle_box" id="userToggleMenu">
                    <input class="header_user_toggle_btn fs_14" type="button" value="마이페이지" onclick="location.href='/mypage'" />
                    <input class="header_user_toggle_btn fs_14" id="show" type="button"  onclick="location.href='/logout'" value="로그아웃" />
                </div>

            </div>
        </div>
    </div>

    <!-- 로그아웃 확인 팝업 -->
    <!-- 해야함 -->
    <!-- 로그아웃 확인 팝업 -->
    <!-- header -->

    <div class="contents">
        <div class="max_box_3 pt_60">
            <div class="board_detail_box">
                <div class="board_detail_top vertical_box">
                    <div class="vertical_mid board_detail_user">
                        <img class="board_detail_user_img" src="/image/user_default.png" />
                    </div>
                    <div class="vertical_mid">
                        <label class="board_detail_name">닉네임</label>
                    </div>
                </div>
                <div class="board_detail_img_box">
                    <img class="board_detail_img" src="/image/ex01.jpg" />
                </div>
                <div class="board_detail_contents_box">
                    <!-- board detail contents 1 -->
                    <div class="board_detail_contents_1">
                        <div class="dis_inblock mr_15">
                            <img class="board_detail_contents_1_like_img" onclick="likeCheck()" id="board-detail-like-btn" src="/image/like_default.png" />
                            <label class="fs_14 pt_2">486</label>
                        </div>
                        <div class="dis_inblock">
                            <img class="board_detail_contents_1_comment_img" onclick="commentCheck()" id="board-detail-comment-btn" src="/image/comment_default.png" />
                        </div>
                        <div class="dis_inblock board_detail_contents_1_date_time">
                            <label class="fs_14 color_999">2022-02-18 16:14</label>
                        </div>
                    </div>
                    <!-- board detail content 1 -->

                    <!-- board detail content 2 -->
                    <div class="board_detail_contents_2">
                        <p class="board_detail_contents_2_main_text fs_14" onclick="viewMore()" id="board-main-text">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <p class="board_detail_contents_2_tag color_666 fs_12">
                            #tag
                        </p>
                    </div>
                    <!-- board detail content 2 -->

                    <!-- board detail content 3 -->
                    <div class="board_detail_contents_3" id="board-detail-comment_box">
                        <div class="board_detail_contents_3_comment_1">
                            <input type="hidden" value="loginName" />
                            <input class="board_detail_contents_3_comment_1_input fs_14" type="text" placeholder="댓글 작성" />
                            <input class="board_detail_contents_3_comment_1_btn input_btn fs_14" type="button" value="등록" />
                        </div>
                        <div class="board_detail_contents_3_comment_2">
                            <!-- 댓글 목록 예시 -->
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="comment_name">우럭아왜우럭</td>
                                        <td class="comment_text">오렌지먹은지얼마나오렌지</td>
                                        <td class="comment_date">2022-02-21 13:35</td>
                                        <td class="comment_delete_btn"></td>
                                    </tr>
                                    <tr>
                                        <td class="comment_name">밥</td>
                                        <td class="comment_text">떡볶이, 곱창, 치킨, 피자, 회, 냉면, 삼겹살, 파스타, 닭발, 쭈꾸미, 햄버거, 감자튀김, 돈까스, 짬뽕, 족발, 보쌈, 튀김, 모밀, 라멘, 초밥, 우동</td>
                                        <td class="comment_date">2022-02-21 13:31</td>
                                        <td class="comment_delete_btn"></td>
                                    </tr>
                                    <tr>
                                        <td class="comment_name">loginName</td>
                                        <td class="comment_text">본인이 작성한 댓글만 삭제 가능</td>
                                        <td class="comment_date">2022-02-21 10:22</td>
                                        <td class="comment_delete_btn">X</td>
                                    </tr>
                                    <tr>
                                        <td class="comment_name">왕꿈트리</td>
                                        <td class="comment_text">로 아 들 어 와</td>
                                        <td class="comment_date">2022-02-21 09:04</td>
                                        <td class="comment_delete_btn"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- 댓글 목록 예시 -->
                        </div>
                    </div>
                    <!-- board detail content 3 -->
                </div>
            </div>
        </div>
    </div>
    <!-- 맨 위로 가기 버튼 -->
    <div class="up_btn" onclick="location.href='#'">
        <img class="up_btn_img" src="/image/up_btn.png" />
    </div>
    <!-- 맨 위로 가기 버튼 -->
</body>
</html>