<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/css/common.css" rel="stylesheet" type="text/css">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/js/common.js"></script>
    <script>
                // 로그아웃 확인 팝업
        function show () {
            document.querySelector(".background").className = "background show";
        }
        function close () {
            document.querySelector(".background").className = "background";
        }
        document.querySelector("#show").addEventListener('click', show);
        document.querySelector("#close").addEventListener('click', close);
    </script>
    <title>POLAROID</title>
</head>
<body>
    <!-- header -->
    <div class="header">
        <div class="max_box_2 vertical_box">
            <div class="header_logo vertical_mid">
                <img class="header_logo_img" src="/image/logo_white.png" onclick="location.href='/main'" />
            </div>
            <div class="header_search_box vertical_mid">
                <input class="header_search_input fs_16" type="text" placeholder="Search" />
                <div class="header_search_btn">
                    <img class="header_search_btn_img" src="/image/search.png" />
                </div>
            </div>
            <div class="header_right vertical_mid">
                <!-- 채팅 -->
                <div class="header_chat">
                    <img class="header_chat_img" src="/image/chat.png" />
                </div>
                <!-- 좋아요 모아보기 -->
                <div class="header_like">
                    <img class="header_like_img" src="/image/like.png" />
                </div>
                <!-- 사용자 정보 -->
                <div class="header_user" id="userToggleButton">
                    <img class="header_user_img" src="image/user_default.png" />
                </div>
                <div class="header_user_toggle_box" id="userToggleMenu">
                    <input class="header_user_toggle_btn fs_14" type="button" value="마이페이지" onclick="location.href='/mypage'" />
                    <input class="header_user_toggle_btn fs_14" id="show" type="button"  onclick="location.href='/logout'" value="로그아웃" />
                </div>

            </div>
        </div>
    </div>

    <!-- 로그아웃 확인 팝업 -->
    <!-- 해야함 -->
    <div class="background">
        <div class="window">
            <div class="popup">
                <button id="close">팝업닫기</button>
            </div>
        </div>
    </div>
    <!-- 로그아웃 확인 팝업 -->
    <!-- header -->

    <div class="contents">
        <div class="max_box pt_60">

            <!-- 이부분 수정해야함. 아마 루프?. 예시. -->
            <table class="main_board_box">
                <tr>
                    <td class="main_board">
                        <img class="main_board_img" src="/image/ex01.jpg" onclick="location.href='/board_detail'" />
                    </td>
                    <td class="main_board">
                        <img class="main_board_img" src="/image/ex02.jpg" />
                    </td>
                    <td class="main_board">
                        <img class="main_board_img" src="/image/ex03.jpg" />
                    </td>
                </tr>
                <tr>
                    <td class="main_board">
                        <img class="main_board_img" src="/image/ex02.jpg" />
                    </td>
                    <td class="main_board">
                        <img class="main_board_img" src="/image/ex03.jpg" />
                    </td>
                    <td class="main_board">
                        <img class="main_board_img" src="/image/ex01.jpg" />
                    </td>
                </tr>
                <tr>
                    <td class="main_board">
                        <img class="main_board_img" src="/image/ex03.jpg" />
                    </td>
                    <td class="main_board">
                        <img class="main_board_img" src="/image/ex01.jpg" />
                    </td>
                    <td class="main_board">
                        <img class="main_board_img" src="/image/ex02.jpg" />
                    </td>
                </tr>
                <tr>
                    <td class="main_board">
                        <img class="main_board_img" src="/image/ex01.jpg" />
                    </td>
                    <td class="main_board">
                        <img class="main_board_img" src="/image/ex02.jpg" />
                    </td>
                    <td class="main_board">
                        <img class="main_board_img" src="/image/ex03.jpg" />
                    </td>
                </tr>
                <tr>
                    <td class="main_board">
                        <img class="main_board_img" src="/image/ex04.jpg" />
                    </td>
                    <td class="main_board">
                        <img class="main_board_img" src="/image/ex05.jpg" />
                    </td>
                    <td class="main_board">
                        <img class="main_board_img" src="" onerror="this.style.display='none'"/>
                    </td>
                </tr>
            </table>
            <!-- 이부분 수정해야함. 예시 -->

            <!-- 맨 위로 가기 버튼 -->
            <div class="up_btn" onclick="location.href='#'">
                <img class="up_btn_img" src="/image/up_btn.png" />
            </div>
            <!-- 맨 위로 가기 버튼 -->



        </div>
    </div>
</body>
</html>